*{
  box-sizing: border-box;
}

:root {
    --blue-color: #2196f3;
    --black-color: #000000;
    --dark-gray-color: #212121;
    --light-grey-color: #757575;
    --white-color: #ffffff;
    --button-color: #f5f4fa;
  }

  ul, p, figure, h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding: 0;
    }

  body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: var(--dark-gray-color);
  }

  /*a {
    text-decoration: none;
  }*/

  /*ul{
    list-style-type: none;
  }*/

  .logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
  }

  .logo-blue {
    color: var(--blue-color);
  }

  .logo-black {
    color: var(--black-color);
  }

  .logo-white {
    background: #2F303A;
    color: var(--white-color);
  }


.nav{
    display: flex;
    justify-content: space-between;
    width: 254px;
    padding: 0;
    margin-left: 93px;
    color:var(--dark-gray-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
  }

  .nav-list{
    color:var(--dark-gray-color);
    text-decoration: none;
  }

  .nav-list:hover,
  .nav-list:focus{
    color:var(--blue-color); 
  }

  .contact{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: 371px;
    width: 295px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--light-grey-color);
    list-style-type: none;
  }

  .contact-list{
    color:var(--light-grey-color);
    text-decoration: none;
  }

  .contact-list:hover,
  .contact-list:focus{
    color:var(--blue-color); 
  }

.order-button{
    font-family: "Roboto";
    color:var(--white-color);
    background-color: var(--blue-color);
    border-color: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    align-items: center;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    cursor:pointer;
}

.motto{
    color:var(--white-color);
    background: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 200px;
    margin-bottom: 30px;
}

.lorem-list{
  list-style-type: none;
}

.lorem-header{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-gray-color);
    margin-top: 0;
    margin-bottom: 10px;
}

.lorem-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--light-grey-color);
    margin-bottom: 0;
    margin-top: 0;

}
    
.header-agency{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-gray-color);
    margin: 0;
    margin-bottom: 50px;
}

.doing_img-list{
    list-style-type: none;
    margin: 0;
    margin-top: 50px;

}

.team_img-list{
  list-style-type: none;
}

.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: var(--dark-gray-color);
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-role{
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: var(--light-grey-color);
    margin: 0;
}

.portfolio-button-list{
  list-style-type: none;
}


.portfolio-button{
    font-family: "Roboto";
    background: var(--button-color);
    border-radius: 4px;
    border-color: var(--button-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor:pointer;
    color: var(--dark-gray-color);
    height: 38px;
    margin-right: 8px;
}

.portfolio-button-big{
    width: 121px;
}

.portfolio-button-medium{
    width: 114px;  
}

.portfolio-button-small{
    width: 93px;  
}

.portfolio-button:hover,
.portfolio-button:focus{
    background: var(--blue-color);
    border-color: var(--blue-color);
    color:var(--white-color);
}

.project-list{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--dark-gray-color);
    margin-left: 24px;
    margin-top: 20px;
}

.project-type{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--light-grey-color);
    margin-left: 24px;
    margin-bottom: 20px;
}

.footer-address{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-place{
    color: var(--white-color);
}


.footer-mail:hover,
.footer-mail:active{
    color:var(--blue-color);
}

.footer-phone:hover,
.footer-phone:active{
    color:var(--blue-color);
}

.address-list{
  list-style-type: none;
}






.container {
  width:1200px;
  /*border: 2px dashed red;*/
  margin:0;
  padding: 0 15px;
}

.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-header .container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  left: 0px;
  top: 0px;
  border-bottom: 1px solid #ECECEC;
}

.agency-motto .container {
  display: flex;
  background: #2F303A;
  height: 600px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.agency-motto {
  padding-top: 0px;
}

.section-lorem{
  padding-top: 0px;
}

.section-doing{
  padding-top: 0px;
}

.section-team{
  padding-top: 0px;
  padding-bottom: 0px;
}

.section-button {
  padding-bottom: 50px;
}

.section-team .container{
  padding-top: 0px;
  background: #F5F4FA;
}

.container .lorem-list{
  display: flex;
  justify-content: flex-start;
  margin: 0px;
}

.container .doing_img-list {
  display: flex;
  justify-content: space-between;
}

.container .team_img-list {
  display: flex;
  justify-content: space-between;
}

.team-card {
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin-bottom: 94px;
}

.page-footer .container{
  background: #2F303A;
  height: 252px;
  padding-top: 60px;
}

.page-footer .container > address {
  padding-top: 20px;
}


.container .address-list{
  display: flex;
  height: 81px;
  justify-content: space-between;
  flex-direction: column;
}

.container .portfolio-button-list{
  display: flex;
  justify-content: center;
}

.portfolio-button-list:last-child {
  margin-right: 0px;
}


.project-card{
  width: 370px;
  height: 404px;
  border: 1px solid #EEEEEE;
  background: #ffffff;
  text-align: left;
  flex-basis: calc((100%-60px)/3);
}